body {
  color: var(--bodyColor);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  font-size: var(--bodyFontSize);
}

div {
  padding: 2.5%;
  background-color: var(--divBackground);
  border-radius: 15px;
}

.small {
  height: auto;
  width: 60%;
}

.small_right {
  margin-left: 20%;
  height: auto;
  width: 60%;
}

p {
  font-size: 125%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {  font-size: 6vmin;  }
h2 {  font-size: 5vmin;  }
h3 {  font-size: 4vmin;  }
h4 {  font-size: 3vmin;  }
h5 {  font-size: 2vmin;  }
h6 {  font-size: 1vmin;  }

.first_section {
  margin-top: 7.5%;
  padding: 2.5%;
}

.first_section h1,
.first_section h1::selection {
  font-family: 'Montserrat', sans-serif;
  filter: drop-shadow(-5px -5px 0px #00000080);
  font-size: 72px;
  background: -webkit-linear-gradient(45deg, var(--bodyColor), var(--bodyColor_dark));
  background: linear-gradient(45deg, var(--bodyColor), var(--bodyColor_dark));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background-color: var(--navbarBackgroundColor);
  color: var(--navbarColor);
  position: relative;
  width: calc(100% + 50px);
  bottom: -50px;
  left: -50px;
  user-select: none;
  text-align: center;
  z-index: 65535;
  border-radius: 0;
}

.flexbox {
  display: flex;
  flex-direction: row;
  text-align: center;
  border-radius: 0;
  width: 100%;
  height: 100%;
  padding: 5%;
  align-items: center;
  justify-content: center;
}

.flexbox *:not(:first-child) {
  margin-left: 15px;
}

.flexbox * {
  text-align: center;
}

span.definition {
  position: relative;
  display: inline;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(3, 131, 206);
  text-decoration-thickness: 2.5px;
  width: 10%;
}

.topTooltip {
  display: none;
  width: 15vmin;
  background-color: #000000B0;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 69;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.definition:hover .topTooltip {
  display: block;
}

img {
  width: 90%;
  height: 45%;
  border-radius: 15px;
  margin-left: 5%;
}

a {
  color: var(--colorScheme11);
  text-decoration: none;
  text-shadow: 0px 0px 5px rgba(255, 255, 0, 0.5);
  transition: color 1s, text-shadow 1s;
}

a:hover,
a:active,
a:focus {
  color: var(--colorScheme12);
  text-shadow: 0px 0px 10px rgb(154, 205, 50, 0.5);
}

.nametag small {
  padding: 7.5px;
  background-color: #000000B0;
  border-radius: 100px;
  color: white;
}

br {
  user-select: none;
}