@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Montserrat:wght@900&family=Poppins&family=Readex+Pro&display=swap');

@font-face {
  font-family: Cascadia Mono;
  font-display: swap;
  src: url('fonts/CascadiaCode-Regular-VTT.ttf');
}