html {
  scroll-behavior: smooth;
}

body {
  background: var(--bodyBackground);
  padding: var(--bodyPadding);
}

::selection {
  background: orange;
  color: white;
}

nav {
  background: var(--navbarBackground);
  text-align: left;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 3vmin;
  padding: 4vmin;
  z-index: 65536;
}

nav a {
  margin-right: 5%;
  color: var(--colorScheme9);
  text-decoration: none;
  transition: color 1s;
  font-size: 40px;
  user-select: none;
  font-family: 'Cascadia Code', monospace;
  font-weight: 600;
}

nav a:after {
  margin-left: 5px;
  content: "\00a0";
}

nav a.newtab::after {
  margin-left: 5px;
  transition: margin-left 1s;
}

nav a.newtab:hover::after {
  margin-left: 15px;
}

nav a:hover,
nav a:active,
nav a:focus {
  color: var(--colorScheme10);
}

nav.collapsed {
  top: -1000px;
  animation-name: hideNavbar;
  animation-iteration-count: 1;
  animation-duration: 2.5s;
  animation-timing-function: linear;
}

nav.uncollapsed {
  top: 0px;
  animation-name: showNavbar;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}
