:root {

  --colorScheme1: rgb(16, 16, 16); --colorScheme1_dark: rgb(90, 90, 90);
  --colorScheme2: rgb(177, 214, 255);
  --colorScheme3: rgb(118, 182, 255); --colorScheme3_translucent: rgba(118, 182, 255, 0.5);
  --colorScheme4: rgb(50, 135, 231); --colorScheme4_translucent: rgb(50, 135, 231, 0.5);
  --colorScheme5: rgb(13, 100, 199);
  --colorScheme6: rgb(6, 85, 175);
  --colorScheme7: rgb(5, 57, 116);
  --colorScheme8: rgb(3, 44, 90); --colorScheme8_translucent: rgba(3, 44, 90, 0.5);

  --colorScheme9: rgb(216, 194, 0);
  --colorScheme10: rgb(202, 255, 103);
  --colorScheme11: rgb(92, 83, 0);
  --colorScheme12: rgb(168, 151, 0);

  --bodyBackground: var(--colorScheme2);
  --bodyColor: var(--colorScheme1); --bodyColor_dark: var(--colorScheme1_dark);
  --bodyPadding: 15px;
  --bodyFontSize: 1.75vmin;

  --divBackground: var(--colorScheme3_translucent);
  --navbarBackground: var(--colorScheme8_translucent);

  --animate-duration: 1s;
}