:root {

  --colorScheme1: rgb(210, 210, 210); --colorScheme1_dark: rgb(90, 90, 90);
  --colorScheme2: rgb(5, 34, 68);
  --colorScheme3: rgb(12, 55, 104); --colorScheme3_translucent: rgba(12, 55, 104, 0.5);
  --colorScheme4: rgb(0,0,0,);      --colorScheme4_translucent: rgb(0,0,0) 
  --colorScheme5: rgb(12, 86, 170);
  --colorScheme6: rgb(19, 108, 209);
  --colorScheme7: rgb(0, 119, 255);
  --colorScheme8: rgb(94, 169, 255);
  --colorScheme9: rgb(216, 194, 0);
  --colorScheme10: rgb(202, 255, 103);

  --bodyBackground: var(--colorScheme2);
  --bodyColor: var(--colorScheme1); --bodyColor_dark: var(--colorScheme1_dark);
  --bodyPadding: 15px;
  --bodyFontSize: 1.5vmin;

  --divBackground: var(--colorScheme3_translucent);
  --navbarBackground: var(--colorScheme4);
}